nav{
    

    ul{
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        gap: 20px;
        margin-right: 75px;
        a{
            color: $links-header-color;
            font-family: $font-family-zain;
            font-weight: 700;
            font-size: 1.2rem;
            
        }
    }
}