.citationHome {
    // border: 3px solid #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    padding: 10px;
    border-radius: 10px;
    margin: 30px;
    .citationHome-txt{
        color: #ffffff;
        font-family: $font-family-zain;
        font-weight: 300;
        font-size: 27px;
        
    }
    .author{
        font-weight: 700;
    } 
}   